a, h1.roof { color: #554A84; }
/* taken from the dress in Lovelace's portrait. */

.highlight {
	background-color: #f9cd04;
	/* taken from the fan in Lovelace's portrait. */
	padding: 0.5em 1em 0.5em 1em;
	border: 1px solid #000;
	}

body { 
	color: #000000;
	font-family: 'Georgia', serif;
	font-size: 1em;
	padding: 1em 2em 1em 2em;
	line-height: 1.5;
}

h1.roof { 
	background-color: #EEEEEE;
	font-size: 150%;
	margin: -1em -2em 1em -2em;
	padding: 0.5em 2em 0.25em 2em;
	border-bottom: 2px solid #DDDDDD;
}

p,li { padding: 0; margin: 1.5em 0 0 0; }
ul { padding: 0; margin: 1.5em 0 0 1em; }
li { list-style-type: square; }
dt { font-weight: bold; } 
